.btn {
    @apply pt-5 pb-5 bg-album-yellowish text-album-darkgreen rounded-full font-extrabold text-xl;

    @screen sm {
        @apply pt-0 pb-2 bg-transparent rounded-none;
        box-shadow: 0 2px theme('colors.album-yellowish');
    }
}
