.message {
    color: var(--text);
    background: var(--wave);
    border-radius: 100px;
}

.message-helper {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='%23554785' id='arrow-right' class='icon' viewBox='0 0 24 24'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3Cpolyline points='12 5 19 12 12 19'%3E%3C/polyline%3E%3C/svg%3E");
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    right: 0;
    top: calc(50% + 0.75rem);
    background-repeat: no-repeat;
    transform: translateY(-50%);
}